package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
LICENSE
.output
.vercel
src/routeTree.gen.ts
paraglide/translation
paraglide/project.inlang
!paraglide/project.inlang/settings.json
.agents/**/scripts
.claude/**/scripts