PORT=5001

DATABASE_URL=postgresql://synapse:root@postgres:5432/auth_db

APP_NAME=

BETTER_AUTH_URL=http://localhost:8000
BETTER_AUTH_TRUSTED_ORIGINS=*
BETTER_AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
