PORT=8082

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/notes_db
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SPRING_CLOUD_GCP_PUBSUB_EMULATOR_HOST=synapse-pubsub:8085
SPRING_CLOUD_GCP_PROJECT_ID=my-local-project

AUTH_JWKS_URL=http://auth:5001/.well-known/jwks.json
SYNAPSE_AI_SERVICE_URL=http://ai:5002
