PORT=8082
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/notes_db
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_VHOST=synapse-vhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=
SPRING_RABBITMQ_PASSWORD=
AUTH_JWKS_URL=http://auth:5001/.well-known/jwks.json
SYNAPSE_AI_SERVICE_URL=http://ai:5002