PORT=5002
DATABASE_URL=postgresql://synapse:root@postgres:5433/ai_db
AUTH_JWKS_URL=http://auth:5001/.well-known/jwks.json
GOOGLE_GENERATIVE_AI_API_KEY=
TAVILY_API_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_VERTEX_LOCATION=
GOOGLE_VERTEX_PROJECT=
GOOGLE_PRIVATE_KEY=